body {background-color: rgb(200, 200, 200, 1.0);
	color:darkred ;
font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;}
h1,h2,h3,h4 { font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: darkred;
  font-size: 40px}
  .img-rounded {border-radius: 60%;
  	image-rendering: center} 
 
.container{
	background: white;
      border:2px solid black;
      margin: 10px}
      .container{
      	background-color:rgb(245, 200, 250, 1.0);
      	margin: 40px auto;
      	text-align: center;
      	padding:40px;
      	width: 400px;
      }

.maincontainer{
	text-align: center;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
	
}